<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

<title>Spring Chat Messenger</title>
</head>
<body>
	<div class="container justify-content-center w-75 p-3">
		<h1>Spring Chat Messenger</h1>
		<hr>
		<form 
			th:object="${chatForm}" 
			method="POST" 
			action="#"
			th:action="@{/chat}"
		>
			<label for="messageText">Message Text</label> 
			<input
				th:field="*{messageText}" 
				type="text"
				class="form-control mb-4 col-4"
				required
			> 
			<label >Message Type</label> 
			<select 
				th:field="*{messageType}" 
				class="form-control mb-4 col-4"
			>
				<option 
					th:each="type: ${allMessageTypes}"
					th:value="${type}"
					th:text="${type}"
				>
					Say
				</option>
			</select>
			<input 
				type="submit" 
				value="Send"
				class="btn btn-info col-2"
			>
		</form>
		
		<hr>
		<!-- To display message -->
		<div th:each="message: ${messages}">
			<span th:text="${message.username}"></span>
			:
			<span th:text="${message.messageText}"></span>
		</div>
	</div>


	
		
</body>
</html>