<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

	<title>Spring Chat Messenger - Signup</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

	<div
		class="container justify-content-center w-50 p-3"
		style="background-color: #eeeeee; margin-top: 5em;"
	>
		<div class="form-group">
			<a th:href="@{/login}">Back to Login</a>
		</div>
		<h1 class="display-5">Signup</h1>

		<form 
			action="#"
			th:action="#{/signup}"
			method="POST"
		>
			<div id="success-msg" th:if="${signupSuccess}" class="alert alert-dark">
				<span>
					User is created successfully. Click here to
					<a th:href="@{/login}">login</a>
				</span>
			</div>
			
			<div id="error-msg" th:if="${signupError}" class="alert alert-danger">
				<span th:text="${signupError}"></span>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>First name</label>
					<input 
						type="text"
						class="form-control"
						id="inputFirstname"
						placeholder="Enter First name"	
						maxlength="20"
						name="firstName"
						required
					>
				</div>
				
				<div class="form-group col-md-6">
					<label>Last name</label>
					<input 
						type="text"
						class="form-control"
						id="inputLastname"
						placeholder="Enter Last name"	
						maxlength="20"
						name="lastName"
						required
					>
				</div>
			</div>
			
			<div class="form-row">
			
				<div class="form-group col-md-6">
					<label>Username</label>
					<input 
						type="text"
						class="form-control"
						id="inputUsername"
						placeholder="Enter Username"	
						maxlength="20"
						name="username"
						required
					>
				</div>
				
				<div class="form-group col-md-6">
					<label>Password</label>
					<input 
						type="password"
						class="form-control"
						id="inputPassword"
						placeholder="Enter Password"	
						maxlength="20"
						name="password"
						required
					>
				</div>
			</div>
			
			<button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</body>
</html>